*{

    box-sizing:border-box;
    padding:0;
    margin:0;

}

body{

    font-family:'Sofia Sans Extra Condensed', sans-serif;
    padding:10px;
    margin:10px;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.container{

    display: flex;
    flex-direction: column;
    margin:auto;
    background-color: rgb(216, 213, 213);
    padding:20px;
    height: 800px;
    width: 600px;
    border-radius: 12px;
    justify-content: flex-start;
    align-items: center;
}

.title-form{
    
    text-align: center;
    font-size: 30px;
    
}

.form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    align-items: center;
    margin-top: 40px;
    height:500px;
    width: 350px;
    padding:20px;
    border-radius: 12px;

}

.label{
    font-weight: bold;
    font-size: 25px;
}

.field{

    font-family: inherit;
    font-weight: bold;
    font-size: 25px;
    width: 300px;
    height: 35px;
    outline: none;
}

.field.error{
    border-color: red;
    outline: red;
}

.field.valid{
    border-color: green;
}

.submit-btn{

    border: none;
    padding: 15px;
    background-color:rgb(216, 213, 213);
    border-radius: 12px;
    font-family: inherit;
    font-size: 25px;
    font-weight:bold;
    box-shadow: 0 4px 0 grey;
    transition: background-color 0.3s;


}

.submit-btn:hover{

    background-color: #000000;
    color:#ffffff;
}

.submit-btn:active{

    transform:translateY(4px);
    box-shadow: 0 0 0 grey;

}

.feedback{
    color:red;
    font-size: 18px;
}